<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HopDaStock.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HopDaStockForREAL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HopDaStockIOSAPP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HopDaStockIOSAPPTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HopDaStockIOSAPPUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA2084E72CDD9297001275CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2084F82CDD929A001275CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2085022CDD929A001275CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5A8FB42CDDDFEC00502200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5A8FC42CDDDFEF00502200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5A8FCE2CDDDFEF00502200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
